/* General */
html {
    scroll-behavior: smooth;
}

/* Below code stops website moving to the sides on mobile
https://stackoverflow.com/questions/44667161/page-moving-left-and-right-while-in-mobile-browser */
html, body {
    width: auto!important;
    overflow-x: hidden!important;
} 

p {
    margin: 0px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #222;
    text-decoration: none;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
    text-decoration: none;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #222;
    text-decoration: none;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    color: #111;
    
}

a:hover {
    text-decoration: none;
}

/* Utility classes */
.bg-grey-111 {
    background-color: #111;
}

.bg-grey-222 {
    background-color: #222;
}

.bg-grey-333 {
    background-color: #333;
}

.bg-grey-ddd {
    background-color: #ddd;
}

.bg-grey-eee {
    background-color: #eee;
}

.text-grey-000 {
    color: #000;
}

.text-grey-111 {
    color: #111;
}

.text-grey-222 {
    color: #222;
}

.text-grey-333 {
    color: #333;
}

.text-grey-555 {
    color: #555;
}

.text-grey-ddd {
    color: #ddd;
}

.text-grey-eee {
    color: #eee;
}

.text-grey-fff {
    color: #fff;
}
.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.text-code {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.hr-dgrey {
    border-bottom: 1px solid #222;
    margin: 0px;
    opacity: .25;
}

/* NAVBAR */
.icon-home {
    font-size: 1.65rem;
    color: #eee;
    background-color: rgba(0, 0, 0, 1);
    display: inline;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-20%);
    top: -2rem;
    border: 3px solid #eee;
}

.icon-home:hover {
    background-color: rgba(0, 0, 0, 0.75);
    transform: translateX(2%);
    -webkit-transition: background-color 0.3s ease-out, transform 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-out, transform 0.3s ease-in-out; 
    -o-transition: background-color 0.3s ease-out, transform 0.3s ease-in-out; 
    transition: background-color 0.3s ease-out, transform 0.3s ease-in-out; 
}

.clock {
    position: fixed;
    top: .25rem;
    right: .25rem;
    font-size: .75rem;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.75);
}

.nav-button-text {
    font-size: calc(2rem + 1.5vw);
    font-weight: 700;
    color: #222;
    text-decoration: none;
}

.nav-button-text-active {
    font-size: calc(2rem + 1.5vw);
    font-weight: 700;
    color: #eee;
    text-decoration: none;
}

.nav-button,
.nav-button-active {
    border-radius: 0.5rem;
    cursor: pointer;

}

.nav-button:hover {
    background-color: #bbb;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.nav-button-active:hover {
    background-color: #333;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.sub-nav-button {
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 0.5rem;
}

.sub-nav-button:hover {
    background-color: #ddd;
}

.alpha-nav-button-inactive {
    border-radius: 0.25rem;
    margin: 3px 0px;
    width: 32px;
    cursor: pointer;
    background-color: #eee;
    text-decoration: none;
    color: #111;
    text-align: center;
    display: inline-block;
}

.alpha-nav-button-active {
    border-radius: 0.25rem;
    margin: 3px 0px;
    width: 32px;
    cursor: pointer;
    background-color: #111;
    text-decoration: none;
    color: #eee;
    text-align: center;
    display: inline-block;
}

.alpha-nav-button-inactive:hover {
    text-decoration: none;
    background-color: #ddd;
    color: #222;
}

.alphabet-inner {
    margin: 0 auto;
    height: 75px;
    width: calc(6.5rem + 45%);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.non-alpha-nav-button-inactive {
    border-radius: 0.25rem;
    margin: 3px 0px;
    cursor: pointer;
    background-color: #eee;
    text-decoration: none;
    color: #111;
    text-align: center;
    width: auto;
    display: inline-block;
}

.non-alpha-nav-button-active {
    border-radius: 0.25rem;
    margin: 3px 0px;
    cursor: pointer;
    background-color: #111;
    text-decoration: none;
    color: #eee;
    text-align: center;
    width: auto;
    display: inline-block;
}

.non-alpha-nav-button-inactive:hover {
    text-decoration: none;
    background-color: #ddd;
    color: #222;
}


/* CONTENT */
section > div {
    min-height: 60vh;
}

section > div > div {
    border-radius: 0.5rem;
}

.element-name,
.element-attribute-name,
.property-name {
    font-size: 1.875rem;
    color: #111;
    font-weight: 600;
}

.attribute-name {
    color: red;
    font-style: italic;
}

.monospace {
    font-family: monospace;
    overflow-x: auto;
}

.link-normal {
    color: #666;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 0px 0px 0px 4px;
    margin-right: 5px;
    text-align: center;
}

.link-normal:hover {
    color: #111;
    border: 1px solid #111;
}

.tag-html {
    cursor: pointer;
}

.fa-caret-down {
    font-size: 1.25rem;
    color: #222;
}


/* FOOTER */
.footer {
    outline: 1px solid #ddd;
    outline-offset: -5px;
}

.icon-go-top {
    font-size: 3rem;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    position: absolute;
    right: 2.5rem;
    bottom: 3rem;
    border: 3px solid #eee;
}

.icon-go-top:hover {
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, .75);
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out; 
    -o-transition: color 0.3s ease-out, background-color 0.3s ease-out; 
    transition: color 0.3s ease-out, background-color 0.3s ease-out; 
}

.list-pl-20 {
    padding-left: 20px;
}


/* Media querries */

@media (max-width: 991px) {
    .fa-caret-down {
        font-size: 2em;
    }
}

@media (max-width: 591px) {
    .html-attribute-value {
        display: inline-block;
        max-width: 200px;
        overflow: auto;
    }
}

@media (max-width: 360px) {
    .html-attribute-value {
        max-width: 130px;
    }
}